.jumbotron {
  background-image: url("./img/hills_test.png");
  background-size: contain;
}

.pixel-bigger {
  height: 64px;
  width: 64px;
  background-color: #bbeff0;
}

.background-stuff{
  background-color: rgba(183, 202, 224, 0.8);
}
