.jumbotron {
  background-image: url("img/hill_test.png");
  background-size: cover;
}

.pixel-bigger {
  height: 200%;
  width: 200%;
  background-color: #bbeff0;
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
