.jumbotron {
  background-image: url("./img/hills_test.png");
  background-size: contain;
}

.pixel-bigger {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.background-stuff{
  background-color: rgba(183, 202, 224, 0.8);
}

.round-me{
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
